div(class="banner banner-mod-padding")
    div(class="banner__content")
        h1(class="banner__caption banner__caption-mod big-txt") 
            | Эксклюзивная 
            span(class="banner__caption-yellow") фотосессия 
            | при полете на вертолете
        div(class="sale-tag sale-tag-mod")
            div(class="sale-tag_text")
                p(class="sale-tag__caption") Стоимость: 
                p(class="sale-tag__price sale-tag__price-mod") 1500₽
            img(class="sale-tag__icon sale-tag__icon-mod" src="svg/imageSaleTag.svg" alt="")
        button(class="banner__button") Забронировать место
