div(class="closest-survey")
    p(class="closest-survey__caption") Доступная съемка в ближайшее время:
    table(class="closest-survey__table")
        thead(class="closest-survey__table-head")
            tr(class="closest-survey__date-row")
                td(class="closest-survey__date-data")
                    p(class="closest-survey__date-caption middle-txt") Пятница, 
                                                                        span(class="closest-survey__date-caption-medium") 14 
                                                                        | сентября
                    div(class="calendar-button")
                        img(class="calendar-button__img" src="svg/calendar.svg" alt="") 
        tbody(class="closest-survey__table-body")
            tr(class="closest-survey__place-row")
                td(class="closest-survey__place-data")
                    div(class="closest-survey__text-area")
                        p(class="closest-survey__time-interval middle-txt") 15:00-18:00
                        p(class="closest-survey__price middle-txt") 1500₽
                        p(class="closest-survey__place-residue middle-txt") Осталось — 1 место
                    div(class="closest-survey__button-area")
                        div(class="closest-survey__button")
                            p(class="closest-survey__button-caption") Выбрать
            tr(class="closest-survey__place-row closest-survey__place-row-mod")
                td(class="closest-survey__place-data")
                    div(class="closest-survey__text-area")
                        p(class="closest-survey__time-interval middle-txt") 19:00-22:00
                        p(class="closest-survey__price middle-txt") 1500₽
                        p(class="closest-survey__place-residue middle-txt") Осталось — 1 место
                    div(class="closest-survey__button-area")
                        div(class="closest-survey__button")
                            p(class="closest-survey__button-caption") Выбрать
        tfoot(class="closest-survey__table-foot")
            tr(class="closest-survey__date-row")
                td(class="closest-survey__date-row")
                    div(class="review-count")
                        img(class="review-count__icon review-count__icon-mod" src="svg/cup.svg" alt="")
                        div(class="review-count__sub-div")
                            p(class="review-count__text middle-txt middle-txt-mod-margin") 
                                            | Более 
                                            strong 50 
                                            | отзывов с оценкой 
                            img(class="review-count__five-star-img" src="svg/fiveStars.svg" alt="")