div(class="description-form description-form-mod")
    div(class="description-form-child description-form__text-area")
        h1(class="description-form__caption description-form__caption-mod big-txt") Фотосессия в вертолете
            div(class="description-form__image-container")
                img(class="description-form__image description-form__image-txt" src="img/kiss.jpg" alt="")
        p(class="description-form__text description-form__text-mod middle-txt")  Полет на вертолете это прекрасная возможность получить новые 
                        |ощущения! А наш замечательный фотограф запечатлит лучшие моменты
        div(class="icon-list")
            div(class="icon-list_item")
                img(class="icon-list__icon icon-list__icon-mod" src="svg/clock.svg" alt="")
                p(class="icon-list__caption") 3 часа съемки

        div(class="icon-list_item icon-list_item-mod")
                img(class="icon-list__icon icon-list__icon-mod" src="svg/photo.svg" alt="")
                p(class="icon-list__caption") Более 50 фотографий

        div(class="icon-list_item icon-list_item-mod")
                img(class="icon-list__icon icon-list__icon-mod" src="svg/place-pin.svg" alt="")
                p(class="icon-list__caption") Москва

        div(class="icon-list_item icon-list_item-mod")
                img(class="icon-list__icon icon-list__icon-mod" src="svg/chat.svg" alt="")
                p(class="icon-list__caption") Готовы ответить на любые вопросы

        div(class="icon-list__line icon-list__line-mod")

        div(class="review-count")
                img(class="review-count__icon review-count__icon-mod" src="svg/cup.svg" alt="")
                div(class="review-count__sub-div")
                    p(class="review-count__text middle-txt middle-txt-mod-margin") 
                        | Более 
                        strong 50 
                        | отзывов с оценкой 
                    img(class="review-count__five-star-img" src="svg/fiveStars.svg" alt="")

        div(class="icon-list__line icon-list__line-mod")

    div(class="description-form-child description-form__image-area")
        div(class="description-form__image-container")
            img(class="description-form__image" src="img/kiss.jpg" alt="")