div(class="header")
        div(class="header_content")
            img(class="header__logo" src="svg/logo.svg" alt="")
            p(class="header__telephone-caption") Телефон:
            p(class="header__telephone-number") 8(800)-123-12-12
            p(class="header__geo header__geo-mod-display") Москва
            img(class="header__account-icon header__account-icon-mod-display" src="img/account.png" alt="")