div(class="photos")
    p(class="photos_caption") Фотографии пакета:
    div(class="photos__photos-container")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
        img(class="photos_photo-item" src="img/photo1.png" alt="")
    div(class="photos_button-show-all photos_button-show-all-con")
        img(class="photos_button-show-all__arrow" src="svg/arrow.svg" alt="")
        a(class="photos_button-show-all__caption") Показать все фото
        img(class="photos_button-show-all__arrow" src="svg/arrow.svg" alt="")
    div(class="photos_line")