-console.log(locals.images);
div(class="photos")
    p(class="photos_caption") Фотографии пакета:
    div(class="photos__photos-container")
        each source, index in locals.images
            if index<8
                img(class="photos_photo-item" src="img/photos-pack/" + source)
            else
                img(class="photos_photo-item photos_photo-item-hidden" src="img/photos-pack/" + source)
    div(class="photos_button-show-all photos_button-show-all-con")
        img(class="photos_button-show-all__arrow" src="svg/arrow.svg" alt="")
        a(class="photos_button-show-all__caption") Показать все фото
        img(class="photos_button-show-all__arrow" src="svg/arrow.svg" alt="")
    div(class="photos_line")