@media (max-width: 375px)
    .content-mod-padding
        padding-left 4vw
        padding-right 4vw

@media (min-width: 376px) and (max-width: 767px)
    .content-mod-padding
        padding-left 5vw
        padding-right 5vw

@media (min-width: 768px) and (max-width: 991px)
    .content-mod-padding
        padding-left 10vw
        padding-right 10vw

@media (min-width: 992px) and (max-width: 1200px)
    .content-mod-padding
        padding-left 15vw
        padding-right 15vw

@media (min-width: 1201px)
    .content-mod-padding
        padding-left 20vw
        padding-right 20vw

html
    font-family 'Montserrat', sans-serif
    overflow-x: hidden;

body 
    background-color #fff
    margin 0
    padding 0
    overflow-x hidden

.middle-txt
    color: #37373F


@require 'subfiles/header.styl'
@require 'subfiles/banner.styl'
@require 'subfiles/description.styl'
@require 'subfiles/photos.styl'
@require 'subfiles/about-photographer.styl'
@require 'subfiles/closest-survey.styl'
@require 'subfiles/map.styl'  
@require 'subfiles/reviews.styl'
@require 'subfiles/footer.styl'    

.content
    margin-top 70px

.showMore
    display: flex
    flex-direction: row
    justify-content: center
    align-items center

.showMore__text
    font-weight: 500
    color #5286EC
    font-size: 15px
    margin 20px 5px



































