@media (max-width: 375px)
    .about-photographer-content
        flex-direction: column
    .about-photographer-child
        width 90vw

@media (min-width: 376px) and (max-width: 767px)
    .about-photographer-content
        flex-direction: column
    .about-photographer-child
        width 90vw

@media (min-width: 768px) and (max-width: 991px)
    .about-photographer-content
        flex-direction: row
    .about-photographer-child
        width 39.8vw

@media (min-width: 992px) and (max-width: 1200px)
    .about-photographer-content
        flex-direction: row
    .about-photographer-child
        width 34.8vw

@media (min-width: 1201px) 
    .about-photographer-content
        flex-direction: row
    .about-photographer-child
        width 29.8vw
        

.about-photographer-content 
    display flex
    justify-content space-between


.about-photographer-mod
    margin-top 30px

.about-photographer__heart
    position: absolute
    margin-left 170px



.text-container__caption
    font-weight: 500
    margin 0

.text-container__caption-mod-margin-bottom
    margin-bottom: 10px

.text-container__caption-mod-margin-top
    margin-bottom: 10px
    margin-top: 30px

.text-container__text
    font-size: 12px
    line-height: 24px
    margin: 0
    color: #37373

.text-container__read-more-block
    display: flex
    align-items: center

.text-container__read-more-text
    font-size: 12px
    font-weight: 500
    line-height: 24px
    color #5286EC
    margin 0 15px 0 0

.text-container__read-more-text:hover
    text-decoration: underline

.about-photographer__info
    display flex
    flex-direction column
    align-items center

.about-photographer__avatar
    width 140px
    height 140px

.about-photographer__name
    font-weight: 500
    color: #37373F

.about-photographer__position
    font-size: 14px
    color: #37373F
    margin 0

.about-photographer_show-more
    font-size: 14px 
    color #5286EC
    width: 220px  
    text-align: center

.about-photographer__line
    width: 100%
    height 1px
    background-color: #C7C7C7
    margin-top: 30px

a 
    color #0254EB

a:visited 
	color #0254EB

a.morelink
	text-decoration none
	outline none

.morecontent span 
	display none