@media (max-width: 375px)
    .banner__content
        width: 92vw
        padding-left 4vw
        padding-right 4vw

    .banner__caption
        font-size: 32px
        line-height: 39px;

@media (min-width: 376px) and (max-width: 767px)
    .banner__content
        width: 90vw
        padding-left 5vw
        padding-right 5vw

    .banner__caption
        font-size: 34px
        line-height: 42px;

@media (min-width: 768px) and (max-width: 991px)
    .banner__content
        width: 80vw
        padding-left 10vw
        padding-right 10vw

    .banner__caption
        font-size: 36px
        line-height: 45px;

@media (min-width: 992px) and (max-width: 1200px)
    .banner__content
        width: 30vw
        padding-left 15vw
        padding-right 15vw

    .banner__caption
        font-size: 38px
        line-height: 46px;


@media (min-width: 1201px) 
    .banner__content
        width: 60vw
        padding-left 20vw
        padding-right 20vw
    
    .banner__caption
        font-size: 40px
        line-height: 49px;

.banner
    height 85vh
    width 100vw
    background-image url('img/helimain.png')
    background-size cover
    background-position: center
    display: flex
    align-items: center



.banner__caption
    margin 0
    font-weight bold
    color #fff

.banner__caption-yellow
    color #FC9B09

.banner__caption-mod
    margin-bottom 25px

.sale-tag
    background-image url('svg/bgSaleTag.svg')
    background-size contain
    background-repeat no-repeat
    display flex
    justify-content center
    align-items center
    width 185px
    height 80px
    

.sale-tag-mod
    margin-bottom: 15px

.sale-tag p
    color #fff

.sale-tag__caption
    margin 0 
    font-size: 14px

.sale-tag__price
    margin 0 
    font-size: 28px
    font-weight: bold

.sale-tag__price-mod
    padding-bottom: 15px

.sale-tag__icon
    width 40px
    height 40px

.sale-tag__icon-mod
    padding-bottom: 15px
    margin-left 5px

.banner__button
    width 200px
    height 50px
    border 2px solid #FFF
    background rgba(0,0,0,0)
    border-radius: 3px
    display: flex
    align-items: center
    justify-content center
    transition: 0.6s
    font-size: 14px
    color: #FFF
    font-weight bold

.banner__button:hover
    border 2px solid #FC9B09
    background-color: #FC9B09
    cursor: pointer

.banner__button:active
    box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset
    cursor: pointer

 