@media (max-width: 375px)
    .content-mod-padding
        padding-left 4vw
        padding-right 4vw
        
    .description-form
        width 92vw
    
    .description-form-child
        width 92vw

    .description-form__image-area
        display: none

    .description-form__caption
        text-align center
        font-size 28px
        line-height 34px

    .description-form__text
        font-size: 14px
        line-height: 20px

    .review-count__text
        font-size 13px
        margin 0 10px 5px 0  

    .review-count__sub-div
        display flex
        flex-direction: column
        justify-content flex-start



@media (min-width: 376px) and (max-width: 767px)
    .content-mod-padding
        padding-left 5vw
        padding-right 5vw
        
    .description-form
        width 90vw
      
    .description-form-child
        width 90vw

    .description-form__image-area
        display: none

    .description-form__caption
        text-align center
        font-size 31px
        line-height 37px

    .description-form__text
        font-size: 15px
        line-height: 21px

    .review-count__text
        font-size 14px
        margin 0 10px 5px 0  
    
     .review-count__sub-div
        display flex
        flex-direction: column
        justify-content flex-start



@media (min-width: 768px) and (max-width: 991px)
    .content-mod-padding
        padding-left 10vw
        padding-right 10vw
        
    .description-form
        width 80vw

    .description-form-child
        width 39.8vw

    .description-form__image-txt
        display none

    .description-form__caption
        font-size 34px
        line-height 40px

    .description-form__text
        font-size: 16px
        line-height: 22px

    .review-count__text
        font-size 14px
        margin 0 10px 5px 0  

 .review-count__sub-div
        display flex
        flex-direction: column
        justify-content flex-start



@media (min-width: 992px) and (max-width: 1200px)
    .content-mod-padding
        padding-left 15vw
        padding-right 15vw
        
    .description-form
        width 70vw

    .description-form-child
        width 34.8vw

    .description-form__image-txt
        display none
    
    .description-form__caption
        font-size 37px
        line-height 46px

    .description-form__text
        font-size: 17px
        line-height: 23px

    .review-count__text
        font-size 15px
        margin 0 10px px 0  

    .review-count__sub-div
        justify-content center


@media (min-width: 1201px)
    .content-mod-padding
        padding-left 20vw
        padding-right 20vw

    .description-form
        width 60vw

    .description-form-child
        width 29.8vw

    .description-form__image-txt
        display none
    
    .description-form__caption
        font-size 40px
        line-height 49px

    .description-form__text
        font-size: 18px
        line-height: 26px; 

    .review-count__text
        font-size 16px
        margin 0 10px 0px 0  
    
    .review-count__sub-div
        flex-direction: row
        justify-content center



.description-form
    display flex
    justify-content: space-between
    flex-wrap: wrap

.description-form__image-container
    width 100%
    height auto;

.description-form__image-txt
    margin-bottom: 15px
    width: 100%

.description-form__image-hidden
    display none

.description-form__caption
    font-weight: 500
    margin 0
    color: #37373F

.description-form__caption-mod
    margin-bottom: 15px

.description-form__text
    color: #37373F
    margin 0 
    line-height 26px

.description-form__text-mod
    margin-bottom: 15px

.icon-list
    display flex
    flex-direction column

.icon-list__caption
    margin 0

.icon-list_item
    display flex
    align-items center

.icon-list__icon
    width 35px

.icon-list_item-mod
    margin-top 10px


.icon-list__icon-mod
    margin-right: 10px

.icon-list__caption
    font-size 12px
    font-weight: 500
    color #37373F

.icon-list__line
    width: 100%
    height 1px
    background-color:  #C7C7C7 

.icon-list__line-mod
    margin-top 20px
    margin-bottom 20px

.description-form__image
    width: 100%

.review-count
    display flex
    align-items center

.review-count__icon 
    margin-right: 10px

.review-count__sub-div
    display flex

.review-count__five-star-img
    width: 100px

