@media (max-width: 375px)
    .header__logo
        width 84px
        height 15px
    

@media (min-width: 376px) and (max-width: 767px)
    .header__logo
        width 84px
        height 15px


@media (min-width: 768px) and (max-width: 991px)
    .header__logo
        width 103px
        height 18px

@media (min-width: 992px) and (max-width: 1200px)
    .header__logo
        width 113px
        height 20px
    .pay-icons
        position absolute

@media (min-width: 1201px)
    .header__logo
        width 129px
        height 23px
    .footer
        padding 0 3vw 0 3vw

    .pay-icons
        position absolute
 
.footer__top
    display: flex
    justify-content space-between
    align-items: center

.footer__social
    display flex
    align-items center

.language-selector
    display flex
    align-items center

.footer__social-link
    margin-right: 20px

.language-selector__current-lang
    font-size: 13px
    color #37373F
    margin-right 5px


.footer__bottom
    padding: 20px 0 50px 0

.master-card-img
    margin-right 15px

.support, .copyright 
    margin 10px 0 0 0
    text-align: center
    font-size: 13px
    color #37373F

.support
    margin-bottom 10px

.footer__logo-img
    width 100px
    height 21px 
