@media (max-width: 375px)
    .reviews__caption
        text-align center
        font-size 28px

    .review-item__avatar-img
        height 84px
        width 84px

    .review-item__mood-contrainer-mod-desktop
        display none

    .review-item__mood-contrainer-mod-mobile
        display flex    
  

@media (min-width: 376px) and (max-width: 767px)
    .reviews__caption
        text-align center
        font-size 28px

    .review-item__avatar-img
        height 88px
        width 88px

    .review-item__mood-contrainer-mod-desktop
        display none

    .review-item__mood-contrainer-mod-mobile
        display flex   
   

@media (min-width: 768px) and (max-width: 991px)

    .review-item__avatar-img
        height 94px
        width 94px
    .review-item__mood-contrainer-mod-desktop
        display none 

    .review-item__mood-contrainer-mod-mobile
        display flex 
  

@media (min-width: 992px) and (max-width: 1200px)
    .review-item__avatar-img
        height 98px
        width 98px
    .review-item__information
        margin-left 118px

    .review-item__mood-contrainer-mod-desktop
        display flex  
  
    .review-item__mood-contrainer-mod-mobile
        display none

    .review-block
        width 50vw  

@media (min-width: 1201px)
    .review-item__avatar-img
        height 100px
        width 100px   
    .review-item__information
        margin-left 120px

    .review-item__mood-contrainer-mod-desktop
        display flex  

    .review-item__mood-contrainer-mod-mobile
        display none

    .review-block
        width 50vw

.reviews
    margin-top 70px


    
.reviews__caption
    font-weight: 500
    color: #37373F
    margin-bottom 50px 

.review-item
    display flex
    flex-direction column
   
.review-item__top
    display: flex
    align-items: flex-start

.review-item__top-text
    margin-left 20px    

.review-item__rate
    display flex
    align-items: center

.review-item__mood-contrainer
    align-items: center

.review-item__mood-contrainer-mod-mobile
    margin-top: 20px
    
.review-item__name
    font-weight: 500
    margin 0 0 15px 0

.review-item__position
    color: #37373F
    font-size: 13px
    margin 0 0 15px 0

.review-item__fiveStars
    height 17px
    width  110px
    margin-right 20px

.review-item__mood-img
    height: 11px
    width 15px
    margin-right: 5px

.review-item__mood-text
    margin 0 
    color: #B3B3B3
    font-size: 13px

.review-item__text
    color: #37373F
    font-size: 16px
    line-height: 24px

.review-item__date
    color: #B3B3B3
    font-size: 13px

.showMore__text
    margin: 0 40px 0 40px

.review-item__line
    height 1px
    width 100%
    background-color #C7C7C7